process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

     withName:SENTIEON_DNASCOPE {
        ext.args = { params.variant_types ? "--var_type ${params.variant_types}" : ''}
        ext.args2 = { params.call_interval ? "--interval ${params.call_interval}" : ''}
        }
}

params {
    variant_types = 'snp,indel'
    call_interval = 'chr22' // interval in the reference that will be used in the software. It can be a comma-separated list of multiple contigs or location of the BED file containing the intervals (for more, see the sw documentation).
}

